<div class="backdrop"></div>


<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="https://www.reddit.com/" target="_blank" class="navbar-item">Reddit </a>
    </div>
  </nav>
